* {
	/* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'PaulGroteskSoft-Bold' Arial sans-serif;
}

p,
a,
input {
	font-family: 'AvenirNextLTPro-Regular', Arial, sans-serif;
}

strong {
	font-family: 'AvenirNextLTPro-Demi', Arial, sans-serif;
}

body {
	/* background: black; */
}
