h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
li,
th,
td,
button,
span,
caption,
div {
	font-display: swap;
}

::selection {
	background-color: hsla(48, 100%, 51.6%, 1);
	color: hsla(0, 0%, 14.9%, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: PaulGroteskSoft-Bold, Arial, sans-serif;
	color: hsla(0, 0%, 14.9%, 1);
}

p,
label,
input,
textarea,
li,
caption {
	font-family: AvenirNextLTPro-Regular, Arial, sans-serif;
}

strong {
	font-family: AvenirNextLTPro-Demi, Arial, sans-serif;
}

em {
	font-family: AvenirNextLTPro-It, Arial, sans-serif;
}

strong em {
	font-family: AvenirNextLTPro-DemiIt, Arial, sans-serif;
}

p,
li {
	color: hsla(0, 0%, 14.9%, 1);
	font-size: 1.0625rem;
	line-height: 1.5em;
}

a {
	color: hsla(355, 84.3%, 50%, 1);
}

a:hover {
	color: hsla(355, 84.3%, 45%, 1);
	font-family: 'AvenirNextLTPro-Demi', Arial, sans-serif;
}

th,
td {
	font-family: AvenirNextLTPro-Regular, Arial, sans-serif;
}

input {
	color: hsla(0, 0%, 14.9%, 1);
	font-size: 1.125rem;
	line-height: 3.125rem;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 0.3125rem;
	border: solid 0.125rem hsla(0, 0%, 14.9%, 1);
	padding: 0rem 1rem 0rem 1rem;
}

textarea {
	color: hsla(0, 0%, 14.9%, 1);
	font-size: 1.125rem;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 0.3125rem;
	border: solid 0.125rem hsla(0, 0%, 14.9%, 1);
	padding: 1rem;
	min-height: 8rem;
}

.secondary-button {
	font-family: AvenirNextLTPro-Bold, Arial, sans-serif;
	font-size: 1.125rem;
	color: hsla(355, 84.3%, 50%, 1);
	text-align: center;
	min-height: 3.125rem;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 1.875rem;
	border: solid 0.125rem hsla(355, 84.3%, 50%, 1);
	padding: 0.625rem 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.secondary-button:hover {
	text-decoration: underline;
	font-family: AvenirNextLTPro-Bold, Arial, sans-serif;
}

.full-width {
	width: 100%;
}

.secondary-button-group {
	text-align: center;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 1.875rem;
	border: solid 0.125rem hsla(355, 84.3%, 50%, 1);
	padding: 0rem 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.secondary-button-group button,
.secondary-button-group label {
	font-family: AvenirNextLTPro-Bold, Arial, sans-serif;
	font-size: 1.875rem;
	line-height: 3.125rem;
	min-height: 3.125rem;
	display: inline-block;
	color: hsla(355, 84.3%, 50%, 1);
	width: 50%;
	background: none;
	border: none;
	cursor: pointer;
}

.secondary-button-group *:first-child {
	border-right: solid 0.125rem hsla(355, 84.3%, 50%, 1);
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 0.0625rem;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 0.0625rem;
}

/* React Big Calendar Overrides */

.rbc-overlay-header {
	font-family: AvenirNextLTPro, Arial, sans-serif !important;
	color: hsla(0, 0%, 14.9%, 1) !important;
}

.rbc-event {
	background-color: hsla(224, 100%, 60%, 1) !important;
}

.rbc-event a {
	color: white !important;
	font-family: AvenirNextLTPro, Arial, sans-serif;
}
