h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
li,
th,
td,
button,
span,
div {
	font-display: swap;
}

::selection {
	background-color: hsla(48, 100%, 51.6%, 1);
	color: hsla(0, 0%, 14.9%, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: PaulGroteskSoft-Bold, Arial, sans-serif;
	color: hsla(0, 0%, 14.9%, 1);
}

p,
label,
input,
textarea,
li {
	font-family: AvenirNextLTPro-Regular, Arial, sans-serif;
}

strong {
	font-family: AvenirNextLTPro-Demi, Arial, sans-serif;
}

em {
	font-family: AvenirNextLTPro-It, Arial, sans-serif;
}

strong em {
	font-family: AvenirNextLTPro-DemiIt, Arial, sans-serif;
}

p {
	color: hsla(0, 0%, 14.9%, 1);
	font-size: 17px;
}

a {
	color: hsla(355, 84.3%, 50%, 1);
}

a:hover {
	text-decoration: none;
}

th,
td {
	font-family: AvenirNextLTPro-Regular, Arial, sans-serif;
}

input {
	color: hsla(0, 0%, 14.9%, 1);
	font-size: 18px;
	line-height: 50px;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 5px;
	border: solid 2px hsla(0, 0%, 14.9%, 1);
	padding: 0px 16px 0px 16px;
}

textarea {
	color: hsla(0, 0%, 14.9%, 1);
	font-size: 18px;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 5px;
	border: solid 2px hsla(0, 0%, 14.9%, 1);
	padding: 16px;
	min-height: 128px;
}

.secondary-button {
	font-family: AvenirNextLTPro-Bold, Arial, sans-serif;
	font-size: 18px;
	color: hsla(355, 84.3%, 50%, 1);
	text-align: center;
	line-height: 50px;
	min-height: 50px;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 30px;
	border: solid 2px hsla(355, 84.3%, 50%, 1);
	padding: 0px 32px;
	margin-top: 24px;
	margin-bottom: 24px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.full-width {
	width: 100%;
}

.secondary-button-group {
	text-align: center;
	background-color: hsla(0, 0%, 100%, 1);
	border-radius: 30px;
	border: solid 2px hsla(355, 84.3%, 50%, 1);
	padding: 0px 32px;
	margin-top: 24px;
	margin-bottom: 24px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.secondary-button-group button,
.secondary-button-group label {
	font-family: AvenirNextLTPro-Bold, Arial, sans-serif;
	font-size: 18px;
	line-height: 50px;
	min-height: 50px;
	display: inline-block;
	color: hsla(355, 84.3%, 50%, 1);
	width: 50%;
	background: none;
	border: none;
	cursor: pointer;
}

.secondary-button-group *:first-child {
	border-right: solid 2px hsla(355, 84.3%, 50%, 1);
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
